<a href="https://colab.research.google.com/github/ssvadla/Bridge_Project/blob/main/Bridge_Project_Data_Analysis_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install geopandas
import geopandas as gpd
import os
import pandas as pd
import numpy as np 

from google.colab import drive
drive.mount('/content/drive')

shape_files = []

data_frames_list = []
data_frames_shape_list = []
data_frames_rows_list = []
data_frames_cols_list = []
state_name_dict_cols = { }
root_path = '/content/drive/My Drive/Bridge_Project/Bridge_Data/'

content_list = os.listdir(root_path)
print("content_list = ",len(content_list))



for i in content_list:
  split = i.split(".")
  if split[1] == 'shp' and len(split) == 2:
    shape_files.append(i)

shape_files.sort()
print("shape_files = ",len(shape_files))

for i in shape_files:

  shp_file_path = root_path + i
  print(shp_file_path)
  df = gpd.read_file(shp_file_path)  
  data_frames_list.append(df)
  state_name_dict_cols[i] = [ df.shape[0], df.shape[1] ] #write to file
  data_frames_shape_list.append(df.shape) #file
  data_frames_rows_list.append(df.shape[0]) # file
  data_frames_cols_list.append(df.shape[1]) #file

if np.unique(data_frames_cols_list) != 138:
  print("columns are not the same for all states")
  check_cols_same = 'columns are not the same for all states' 
else :
  check_cols_same = 'olumns are same for all states'# file

if sum(data_frames_rows_list) != 612388:
  check_tot_rows = "Total number of rows does not match"
  print("Total number of rows does not match") 
else:
  check_tot_rows = "Total number of rows match to 612388" #file

Collecting geopandas
  Downloading geopandas-0.9.0-py2.py3-none-any.whl (994 kB)
     |████████████████████████████████| 994 kB 7.0 MB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.0-cp37-cp37m-manylinux_2_24_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 45.6 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 36 kB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.5.30)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.2)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.9.0 munch-2.5.0 pyproj-3.2.0
Mounted at /content/drive
content_list =  440
shape_files =  49
/content/drive/My Drive/Bridge_Project/Bridge_Data/Alabama.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Arizona.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Arkansas.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/California.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Colorado.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Connecticut.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Delaware.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/District_of_Columbia.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Florida.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Georgia.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Idaho.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Illinois.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Indiana.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Iowa.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Kansas.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Kentucky.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Louisiana.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Maine.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Maryland.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Massachusetts.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Michigan.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Minnesota.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Mississippi.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Missouri.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Montana.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Nebraska.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Nevada.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/New_Hampshire.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/New_Jersey.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/New_Mexico.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/New_York.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/North_Carolina.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/North_Dakota.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Ohio.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Oklahoma.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Oregon.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Pennsylvania.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Rhode_Island.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/South_Carolina.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/South_Dakota.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Tennessee.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Texas.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Utah.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Vermont.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Virginia.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Washington.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/West_Virginia.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Wisconsin.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Wyoming.shp

In [2]:
sum(data_frames_rows_list)

612388

In [3]:
import numpy as np
np.unique(data_frames_cols_list)

array([138])

In [4]:
Initial_Col_Name_list = ['YEAR_B', 'STRUCTUR_4', 'DECK_W', 'DEGRE', 'MAIN_', 'MAX_S', 'STRUCTUR_2', 'DECK_S', 'SURFA', 'DECK_P', 'ADT_0', 'PERCE', 'YEAR_R', 'Shape *', 'STATE', 'STRUCTURE_', 'lattd', 'lngtd', 'DECK_C', 'SUPER', 'SUBST', 'Frequency_', 'Max_Quake', 'DT00', 'DX32', 'DX70', 'DX90', 'AWND', 'WSF5', 'PRECIPITAT', 'TEMP_MAX', 'TEMP_MEAN', 'TEMP_MIN', 'FREQUENCY_','MAX_QUAKE','DATE_'] #file

In [5]:
len(Initial_Col_Name_list)

36

In [6]:
Final_Column_Name = ['Year_Built', 'Deck_Length', 'Deck_Width', 'Skew', 'Number_Spans', 'Length_Max_Span', 'Main_Design_Type', 'Deck_Design_Type', 'Wearing_Surface', 'Deck_Protection', 'ADT', 'ADTT', 'Reconstructed_Year', 'Shape *', 'State_Code', 'Structure_Number', 'Latitude', 'Longitude', 'Deck_Condition', 'Superstructure_Condition', 'Substructure_Condition', 'Freq_Shake_GT4', 'Max_Shake', 'Days_MinLT_0F', 'Days_MinLT_32F', 'Days_MaxGT_70F', 'Days_MaxGT_90F', 'Avg_Wind_Speed', 'Peak_Wind_Speed', 'Precipitation', 'Temp_Max', 'Temp_Mean', 'Temp_Min','Freq_Shake_GT4','Max_Shake','Inspection_Date']  #file

In [7]:
len(Final_Column_Name)

36

In [8]:
#creating a dictionary to rename the column names of each dataframe
rename_cols = { } #file
for idx in range(len(Initial_Col_Name_list)):
  rename_cols[Initial_Col_Name_list[idx]] = Final_Column_Name[idx]

In [9]:
rename_cols

{'ADT_0': 'ADT',
 'AWND': 'Avg_Wind_Speed',
 'DATE_': 'Inspection_Date',
 'DECK_C': 'Deck_Condition',
 'DECK_P': 'Deck_Protection',
 'DECK_S': 'Deck_Design_Type',
 'DECK_W': 'Deck_Width',
 'DEGRE': 'Skew',
 'DT00': 'Days_MinLT_0F',
 'DX32': 'Days_MinLT_32F',
 'DX70': 'Days_MaxGT_70F',
 'DX90': 'Days_MaxGT_90F',
 'FREQUENCY_': 'Freq_Shake_GT4',
 'Frequency_': 'Freq_Shake_GT4',
 'MAIN_': 'Number_Spans',
 'MAX_QUAKE': 'Max_Shake',
 'MAX_S': 'Length_Max_Span',
 'Max_Quake': 'Max_Shake',
 'PERCE': 'ADTT',
 'PRECIPITAT': 'Precipitation',
 'STATE': 'State_Code',
 'STRUCTURE_': 'Structure_Number',
 'STRUCTUR_2': 'Main_Design_Type',
 'STRUCTUR_4': 'Deck_Length',
 'SUBST': 'Substructure_Condition',
 'SUPER': 'Superstructure_Condition',
 'SURFA': 'Wearing_Surface',
 'Shape *': 'Shape *',
 'TEMP_MAX': 'Temp_Max',
 'TEMP_MEAN': 'Temp_Mean',
 'TEMP_MIN': 'Temp_Min',
 'WSF5': 'Peak_Wind_Speed',
 'YEAR_B': 'Year_Built',
 'YEAR_R': 'Reconstructed_Year',
 'lattd': 'Latitude',
 'lngtd': 'Longitude'}

In [10]:
#Rename the columns of each dataframe 
for dataframe in data_frames_list:
  dataframe.rename(columns=rename_cols, inplace=True)

In [11]:
#get all the columns names from all dataframes to check if they are correctly renamed
column_list = []
for frame in data_frames_list:
  column_list.append(frame.columns)

In [12]:
# type(column_list)

In [13]:
#check if all dataframes have same column names as taken from the table final column name after renaming
for j in range(len(column_list)-1):
  if column_list[j].all() != column_list[j+1].all():
    #print("All the renamed columns are not same")
    attribute_check = "All the renamed columns are not same"
  else: 
    #print("All the renamed columns are same")
    attribute_check = "All the renamed columns are same"

In [14]:
#concatenate all the dataframes into single dataframe
ConterminousUS = pd.concat(data_frames_list)

In [15]:
ConterminousUS_length = len(ConterminousUS) #file

In [16]:
ConterminousUS_length

612388

In [17]:
#ConterminousUS.rename(columns=rename_cols, inplace=True)

In [18]:
ConterminousUS.head()

  State_Code Structure_Number  ...                              geometry  MAX_Quake
0         01  00000000000S702  ...  POINT Z (-87.57041 31.10304 0.00000)        NaN
1         01  00000000000S703  ...  POINT Z (-87.56914 31.10561 0.00000)        NaN
2         01           000071  ...  POINT Z (-85.98808 31.14473 0.00000)        NaN
3         01           000175  ...  POINT Z (-86.05312 31.48880 0.00000)        NaN
4         01           000207  ...  POINT Z (-85.39324 31.22242 0.00000)        NaN

[5 rows x 139 columns]

In [19]:
all_cols = ConterminousUS.columns

In [20]:
len(ConterminousUS.columns)

139

In [21]:
attributes = []
for att in all_cols:
  if att not in Final_Column_Name:
    del ConterminousUS[att]
    #print("not same")
  else:
    #print("same")
    attributes.append(att)

print(ConterminousUS.shape)
#attributes to the file

(612388, 33)

In [22]:
ConterminousUS.columns

Index(['State_Code', 'Structure_Number', 'Year_Built', 'ADT', 'Skew',
       'Main_Design_Type', 'Number_Spans', 'Length_Max_Span', 'Deck_Length',
       'Deck_Width', 'Deck_Condition', 'Superstructure_Condition',
       'Substructure_Condition', 'Inspection_Date', 'Reconstructed_Year',
       'Deck_Design_Type', 'Wearing_Surface', 'Deck_Protection', 'ADTT',
       'Latitude', 'Longitude', 'Freq_Shake_GT4', 'Max_Shake', 'Days_MinLT_0F',
       'Days_MinLT_32F', 'Days_MaxGT_70F', 'Days_MaxGT_90F', 'Avg_Wind_Speed',
       'Peak_Wind_Speed', 'Precipitation', 'Temp_Max', 'Temp_Mean',
       'Temp_Min'],
      dtype='object')

In [23]:
# to check if all the renamed columns are from Final column name

concat_col = ConterminousUS.columns

for cols in concat_col:
  if cols not in Final_Column_Name:
    print("Not existing", cols)

In [24]:
statistics = ConterminousUS.describe() #file

In [25]:
statistics

          Year_Built            ADT  ...      Temp_Mean       Temp_Min
count  612388.000000  612388.000000  ...  612388.000000  612388.000000
mean     1975.126557    7825.235411  ...      56.905952      46.243547
std        26.143444   21105.676986  ...       7.875541       8.020886
min      1697.000000       0.000000  ...      29.282200      16.279700
25%      1959.000000     120.000000  ...      51.424000      41.011150
50%      1976.000000     904.000000  ...      55.820500      45.495000
75%      1996.000000    6191.000000  ...      62.667500      51.629700
max      2021.000000  919000.000000  ...      80.811100      76.035700

[8 rows x 25 columns]

In [26]:
Null_exist = ConterminousUS.isnull()

In [27]:
if Null_exist.any == 'True':
  Null_exist = "Null exist"
  print("True")
else : 
  Null_exist = "Null does not exist"
  print("Null does not exist") #file

Null does not exist

In [28]:
with open(r'/content/drive/My Drive/Bridge_Project/Results/Result.txt', 'a') as writefile:
        writefile.write("\n")
        writefile.write(" Bridge Project Results ")
        writefile.write("\n")
        writefile.write(" state_name_dict_cols ")
        writefile.write("\n")
        writefile.write(str(state_name_dict_cols))
        writefile.write("\n")
        writefile.write(" data_frames_rows_list = ")
        writefile.write(str(data_frames_rows_list))
        writefile.write("\n")
        writefile.write("\n")
        writefile.write(" data_frames_cols_list ")
        writefile.write(str(data_frames_cols_list))
        writefile.write("\n")
        writefile.write("\n")
        writefile.write(" check_cols_same")
        writefile.write(check_cols_same)
        writefile.write("\n")
        writefile.write("\n")
        writefile.write(" check_tot_rows  ")
        writefile.write("\n")
        writefile.write("\n")
        writefile.write(check_tot_rows)
        writefile.write("\n")
        writefile.write("\n")
        writefile.write(" Initial_Col_Name_list = ")
        writefile.write("\n")
        writefile.write(str(Initial_Col_Name_list))
        writefile.write("\n")
        writefile.write(" Final_Column_Name = ")
        writefile.write("\n")
        writefile.write(str(Final_Column_Name))
        writefile.write("\n")
        writefile.write("\n")
        writefile.write(" rename_cols ")
        writefile.write(str(rename_cols))
        writefile.write("\n")
        writefile.write(" attribute_check")
        writefile.write(str(attribute_check))
        writefile.write("\n")
        writefile.write(" ConterminousUS_length = ")
        writefile.write("\n")
        writefile.write(str(ConterminousUS_length))
        writefile.write("\n")
        writefile.write(" statistics = ")
        writefile.write("\n")
        writefile.write(str(statistics))
        writefile.write("\n")
        writefile.write(" Null_exist = ")
        writefile.write("\n")
        writefile.write(Null_exist)
        writefile.write("\n")

In [29]:
shape_files_names_list = []
for i in shape_files:
  shape_files_names_list.append(i.split('.')[0])

In [30]:
len(shape_files_names_list)

49

In [31]:
state_code_key = np.unique(ConterminousUS['State_Code'].to_list())

In [ ]:
state_code_key_conv = []
for i in range(0,len(state_code_key)):
  #print(i)
  if i < 6:
    state_code_key_conv.append(state_code_key[i])
  else:
    
    state_code_key_conv.append(float(state_code_key[i]))

In [33]:
state_code_value = shape_files_names_list

In [34]:
State_code_dict = { }
for code in range(len(state_code_key)):
  State_code_dict[(state_code_key_conv[code])] = state_code_value[code]

In [35]:
State_code_dict

{'01': 'Alabama',
 '04': 'Arizona',
 '05': 'Arkansas',
 '06': 'California',
 '08': 'Colorado',
 '09': 'Connecticut',
 10.0: 'Delaware',
 11.0: 'District_of_Columbia',
 12.0: 'Florida',
 13.0: 'Georgia',
 16.0: 'Idaho',
 17.0: 'Illinois',
 18.0: 'Indiana',
 19.0: 'Iowa',
 20.0: 'Kansas',
 21.0: 'Kentucky',
 22.0: 'Louisiana',
 23.0: 'Maine',
 24.0: 'Maryland',
 25.0: 'Massachusetts',
 26.0: 'Michigan',
 27.0: 'Minnesota',
 28.0: 'Mississippi',
 29.0: 'Missouri',
 30.0: 'Montana',
 31.0: 'Nebraska',
 32.0: 'Nevada',
 33.0: 'New_Hampshire',
 34.0: 'New_Jersey',
 35.0: 'New_Mexico',
 36.0: 'New_York',
 37.0: 'North_Carolina',
 38.0: 'North_Dakota',
 39.0: 'Ohio',
 40.0: 'Oklahoma',
 41.0: 'Oregon',
 42.0: 'Pennsylvania',
 44.0: 'Rhode_Island',
 45.0: 'South_Carolina',
 46.0: 'South_Dakota',
 47.0: 'Tennessee',
 48.0: 'Texas',
 49.0: 'Utah',
 50.0: 'Vermont',
 51.0: 'Virginia',
 53.0: 'Washington',
 54.0: 'West_Virginia',
 55.0: 'Wisconsin',
 56.0: 'Wyoming'}

In [36]:
#create a new column State by replacing the numbers with their respective state names
ConterminousUS['State'] = ConterminousUS['State_Code']
ConterminousUS['State'].replace(State_code_dict, inplace=True)

In [37]:
list2 = ConterminousUS['State_Code'].to_list()
len(np.unique(list2))

49

In [38]:
np.unique(list2)

array(['01', '04', '05', '06', '08', '09', '10.0', '11.0', '12.0', '13.0',
       '16.0', '17.0', '18.0', '19.0', '20.0', '21.0', '22.0', '23.0',
       '24.0', '25.0', '26.0', '27.0', '28.0', '29.0', '30.0', '31.0',
       '32.0', '33.0', '34.0', '35.0', '36.0', '37.0', '38.0', '39.0',
       '40.0', '41.0', '42.0', '44.0', '45.0', '46.0', '47.0', '48.0',
       '49.0', '50.0', '51.0', '53.0', '54.0', '55.0', '56.0'],
      dtype='<U4')

In [39]:
list3 = ConterminousUS['State'].to_list()
np.unique(list3)

array(['Alabama', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'District_of_Columbia', 'Florida',
       'Georgia', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New_Hampshire', 'New_Jersey', 'New_Mexico',
       'New_York', 'North_Carolina', 'North_Dakota', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Rhode_Island', 'South_Carolina',
       'South_Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
       'Virginia', 'Washington', 'West_Virginia', 'Wisconsin', 'Wyoming'],
      dtype='<U20')

In [40]:
#check if the datatype is consistent after changing the state name.
type(ConterminousUS['State'].values[0])

str

In [41]:
ConterminousUS.columns

Index(['State_Code', 'Structure_Number', 'Year_Built', 'ADT', 'Skew',
       'Main_Design_Type', 'Number_Spans', 'Length_Max_Span', 'Deck_Length',
       'Deck_Width', 'Deck_Condition', 'Superstructure_Condition',
       'Substructure_Condition', 'Inspection_Date', 'Reconstructed_Year',
       'Deck_Design_Type', 'Wearing_Surface', 'Deck_Protection', 'ADTT',
       'Latitude', 'Longitude', 'Freq_Shake_GT4', 'Max_Shake', 'Days_MinLT_0F',
       'Days_MinLT_32F', 'Days_MaxGT_70F', 'Days_MaxGT_90F', 'Avg_Wind_Speed',
       'Peak_Wind_Speed', 'Precipitation', 'Temp_Max', 'Temp_Mean', 'Temp_Min',
       'State'],
      dtype='object')

In [42]:
#make sure Year_Built has numeric datatype:
type(ConterminousUS['Year_Built'].values[0])

numpy.float64

In [43]:
#check the type of Inspection date 
type(ConterminousUS['Inspection_Date'].values[0])

numpy.float64

In [44]:
Inspection_range = np.unique(ConterminousUS['Inspection_Date'].values)
Inspection_range

array([ 100.,  101.,  105.,  108.,  109.,  110.,  111.,  112.,  113.,
        115.,  116.,  117.,  118.,  119.,  120.,  197.,  199.,  203.,
        207.,  210.,  215.,  216.,  217.,  218.,  219.,  220.,  292.,
        295.,  299.,  303.,  304.,  305.,  307.,  308.,  309.,  310.,
        312.,  313.,  314.,  315.,  316.,  317.,  318.,  319.,  320.,
        406.,  408.,  410.,  411.,  412.,  413.,  414.,  415.,  416.,
        417.,  418.,  419.,  420.,  430.,  493.,  504.,  507.,  509.,
        511.,  513.,  514.,  515.,  516.,  517.,  518.,  519.,  520.,
        593.,  606.,  607.,  608.,  611.,  614.,  615.,  616.,  617.,
        618.,  619.,  620.,  695.,  701.,  707.,  708.,  709.,  710.,
        711.,  712.,  714.,  715.,  716.,  717.,  718.,  719.,  720.,
        794.,  798.,  805.,  806.,  808.,  809.,  810.,  811.,  812.,
        813.,  814.,  815.,  816.,  817.,  818.,  819.,  820.,  824.,
        898.,  900.,  905.,  906.,  909.,  910.,  911.,  912.,  913.,
        914.,  915.,  916.,  917.,  918.,  919.,  920.,  921., 1001.,
       1006., 1008., 1009., 1011., 1012., 1013., 1014., 1015., 1016.,
       1017., 1018., 1019., 1020., 1100., 1106., 1107., 1108., 1109.,
       1110., 1111., 1112., 1113., 1114., 1115., 1116., 1117., 1118.,
       1119., 1120., 1192., 1203., 1205., 1208., 1209., 1210., 1211.,
       1213., 1214., 1215., 1216., 1217., 1218., 1219., 1220., 1288.,
       1292.])

In [45]:
digit = []
for num in Inspection_range:
  #print(num)
  #print(type(num))
  digit.append(int(str(int(num))[-2:]))

In [46]:
#unique last 2 digits of the Inpection Year
np.unique(digit)

array([ 0,  1,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 24, 30, 88, 92, 93, 94, 95, 97, 98, 99])

In [47]:
len(digit)

181

In [48]:
len(ConterminousUS['Inspection_Date'])

612388

In [ ]:
#check the records having the Inspection_Year = 24 or 30
list_24 = []
list_30 = []

for i in Inspection_range:
  #print(i)
  two_digits = (int(str(int(i))[-2:]))
  #print(two_digits)
  if two_digits == 24 :
    list_24.append(i)
  elif two_digits == 30 :
    list_30.append(i)

In [58]:
len(list_30)

1

In [59]:
list_30

[430.0]

In [60]:
len(list_24)

1

In [61]:
list_24

[824.0]

In [66]:
path = '/content/drive/My Drive/Bridge_Project_dataframe.csv'

In [67]:

ConterminousUS.to_csv(path, sep=',')