<a href="https://colab.research.google.com/github/ssvadla/Bridge_Project/blob/main/Bridge_Project_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

# import pandas as pd
# from google.colab import drive

# drive.mount('/content/drive')

In [2]:
# def read_shapefile(shp_path):
# 	"""
# 	Read a shapefile into a Pandas dataframe with a 'coords' column holding
# 	the geometry information. This uses the pyshp package
# 	"""
# 	import shapefile

# 	#read file, parse out the records and shapes
# 	sf = shapefile.Reader(shp_path)
# 	fields = [x[0] for x in sf.fields][1:]
# 	records =[list(i) for i in sf.records()]
# 	shps = [s.points for s in sf.shapes()]

# 	#write into a dataframe
# 	df = pd.DataFrame(columns=fields, data=records)
# 	df = df.assign(coords=shps)

# 	return df

In [3]:
# shp_path = '/content/drive/My Drive/Bridge_Project/Alabama/'

In [4]:
# import shapefile
# read_shapefile(shp_path)

In [5]:
# !pip install shapefile

In [6]:
# shp_path = '/content/drive/My Drive/Bridge_Project/Alabama/'

In [7]:
# !pip install geopandas
# import geopandas as gpd
# df = gpd.read_file(shp_path)

In [8]:
!pip install geopandas
import geopandas as gpd
import os
import pandas as pd
import numpy as np 

from google.colab import drive
drive.mount('/content/drive')

shape_files = []
data_frames_list = []
data_frames_shape_list = []
data_frames_rows_list = []
data_frames_cols_list = []
state_name_dict_cols = { }
root_path = '/content/drive/My Drive/Bridge_Project/Bridge_Data/'

content_list = os.listdir(root_path)
print("content_list = ",len(content_list))



for i in content_list:
  split = i.split(".")
  if split[1] == 'shp' and len(split) == 2:
    shape_files.append(i)

shape_files.sort()
print("shape_files = ",len(shape_files))

for i in shape_files:
  shp_file_path = root_path + i
  print(shp_file_path)
  df = gpd.read_file(shp_file_path)  
  data_frames_list.append(df)
  state_name_dict_cols[i] = [ df.shape[0], df.shape[1] ] #write to file
  data_frames_shape_list.append(df.shape) #file
  data_frames_rows_list.append(df.shape[0]) # file
  data_frames_cols_list.append(df.shape[1]) #file

if np.unique(data_frames_cols_list) != 138:
  print("columns are not the same for all states")
  check_cols_same = 'columns are not the same for all states' 
else :
  check_cols_same = 'olumns are same for all states'# file

if sum(data_frames_rows_list) != 612388:
  check_tot_rows = "Total number of rows does not match"
  print("Total number of rows does not match") 
else:
  check_tot_rows = "Total number of rows match to 612388" #file

Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.1.0)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.20)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.5.30)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
content_list =  440
shape_files =  49
/content/drive/My Drive/Bridge_Project/Bridge_Data/Alabama.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Arizona.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Arkansas.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/California.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Colorado.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Connecticut.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Delaware.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/District_of_Columbia.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Florida.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Georgia.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Idaho.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Illinois.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Indiana.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Iowa.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Kansas.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Kentucky.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Louisiana.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Maine.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Maryland.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Massachusetts.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Michigan.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Minnesota.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Mississippi.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Missouri.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Montana.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Nebraska.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Nevada.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/New_Hampshire.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/New_Jersey.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/New_Mexico.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/New_York.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/North_Carolina.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/North_Dakota.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Ohio.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Oklahoma.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Oregon.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Pennsylvania.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Rhode_Island.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/South_Carolina.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/South_Dakota.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Tennessee.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Texas.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Utah.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Vermont.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Virginia.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Washington.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/West_Virginia.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Wisconsin.shp
/content/drive/My Drive/Bridge_Project/Bridge_Data/Wyoming.shp

In [9]:
data_frames_rows_list

[16117,
 8424,
 12914,
 25730,
 8809,
 4252,
 881,
 240,
 12586,
 14963,
 4513,
 26848,
 19327,
 23981,
 24940,
 14419,
 12850,
 2472,
 5111,
 5229,
 11269,
 13470,
 16869,
 24538,
 5250,
 15345,
 1999,
 2514,
 6788,
 4019,
 17552,
 18723,
 4268,
 27072,
 23152,
 8187,
 22962,
 777,
 9452,
 5877,
 20234,
 54680,
 3061,
 2824,
 13930,
 8302,
 7286,
 14270,
 3112]

In [10]:
sum(data_frames_rows_list)

612388

In [11]:
22962 + 16117 + 8424

47503

In [12]:
import numpy as np
np.unique(data_frames_cols_list)

array([138])

In [13]:
# city = 'Michigan.shp'
# path = root_path+city
# mach_df = gpd.read_file(path)

In [14]:
# print(mach_df.columns)

In [15]:
# city = 'New_Mexico.shp'
# path = root_path+city
# mach_df = gpd.read_file(path)

In [16]:
# mach_df.shape

In [17]:
# for i in range(len(data_frames_cols_list)):
#   if data_frames_cols_list[i] == 139:
#     print(i)
#     print("hello")

In [18]:
#all_cols = ConterminousUS.columns

In [19]:
Initial_Col_Name_list = ['YEAR_B', 'STRUCTUR_4', 'DECK_W', 'DEGRE', 'MAIN_', 'MAX_S', 'STRUCTUR_2', 'DECK_S', 'SURFA', 'DECK_P', 'ADT_0', 'PERCE', 'YEAR_R', 'Shape *', 'STATE', 'STRUCTURE_', 'lattd', 'lngtd', 'DECK_C', 'SUPER', 'SUBST', 'Frequency_', 'Max_Quake', 'DT00', 'DX32', 'DX70', 'DX90', 'AWND', 'WSF5', 'PRECIPITAT', 'TEMP_MAX', 'TEMP_MEAN', 'TEMP_MIN', 'FREQUENCY_','MAX_QUAKE'] #file

In [20]:
len(Initial_Col_Name_list)

35

In [21]:
# len(Final_Column_Name)

In [22]:
# attributes = []
# for att in all_cols:
#   if att not in Initial_Col_Name_list:
#     del ConterminousUS[att]
#     #print("not same")
#   else:
#     #print("same")
#     attributes.append(att)

# print(ConterminousUS.shape)
# #attributes to the file

In [23]:
# missing_attr = []
# for i in Initial_Col_Name_list:
#   if i not in all_cols:
#     print(i)
#     missing_attr.append(i)

In [24]:
# for i in all_cols:
#   if i == 'Max_Quake':
#     print("der")

In [25]:
# all_cols.sort_values

In [26]:
Final_Column_Name = ['Year_Built', 'Deck_Length', 'Deck_Width', 'Skew', 'Number_Spans', 'Length_Max_Span', 'Main_Design_Type', 'Deck_Design_Type', 'Wearing_Surface', 'Deck_Protection', 'ADT', 'ADTT', 'Year_Reconstructed', 'Shape *', 'State_Code', 'Structure_Number', 'Latitude', 'Longitude', 'Deck_Condition', 'Superstructure_Condition', 'Substructure_Condition', 'Freq_Shake_GT4', 'Max_Shake', 'Days_MinLT_0F', 'Days_MinLT_32F', 'Days_MaxGT_70F', 'Days_MaxGT_90F', 'Avg_Wind_Speed', 'Peak_Wind_Speed', 'Precipitation', 'Temp_Max', 'Temp_Mean', 'Temp_Min','Freq_Shake_GT4','Max_Shake']  #file

In [27]:
len(Final_Column_Name)

35

In [28]:
#creating a dictionary to rename the column names of each dataframe
rename_cols = { } #file
for idx in range(len(Initial_Col_Name_list)):
  rename_cols[Initial_Col_Name_list[idx]] = Final_Column_Name[idx]

In [29]:
# rename_cols

In [30]:
# ConterminousUS.head()

In [31]:
#Rename the columns of each dataframe 
for dataframe in data_frames_list:
  dataframe.rename(columns=rename_cols, inplace=True)

In [32]:
#get all the columns names from all dataframes to check if they are correctly renamed
column_list = []
for frame in data_frames_list:
  column_list.append(frame.columns)

In [33]:
# type(column_list)

In [34]:
#check if all dataframes have same column names as taken from the table final column name after renaming
for j in range(len(column_list)-1):
  if column_list[j].all() != column_list[j+1].all():
    print("All the renamed columns are not same")
    attribute_check = "All the renamed columns are not same"
  else: 
    print("All the renamed columns are same")
    attribute_check = "All the renamed columns are same"

All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same
All the renamed columns are same

In [35]:
#concatenate all the dataframes into single dataframe
ConterminousUS = pd.concat(data_frames_list)

In [36]:
ConterminousUS_length = len(ConterminousUS) #file

In [37]:
#ConterminousUS.rename(columns=rename_cols, inplace=True)

In [38]:
ConterminousUS.head()

  State_Code Structure_Number  ...                              geometry  MAX_Quake
0         01  00000000000S702  ...  POINT Z (-87.57041 31.10304 0.00000)        NaN
1         01  00000000000S703  ...  POINT Z (-87.56914 31.10561 0.00000)        NaN
2         01           000071  ...  POINT Z (-85.98808 31.14473 0.00000)        NaN
3         01           000175  ...  POINT Z (-86.05312 31.48880 0.00000)        NaN
4         01           000207  ...  POINT Z (-85.39324 31.22242 0.00000)        NaN

[5 rows x 139 columns]

In [39]:
# all_cols = ConterminousUS.columns
# column_list_total = []
# for frame in all_cols:
#   column_list_total.append(frame.columns)

# for j in range(len(all_cols)-1):
#   if column_list_total[j].all() != column_list_total[j+1].all():
#     print("Not equal")

In [40]:
all_cols = ConterminousUS.columns

In [41]:
len(ConterminousUS.columns)

139

In [42]:
attributes = []
for att in all_cols:
  if att not in Final_Column_Name:
    del ConterminousUS[att]
    #print("not same")
  else:
    #print("same")
    attributes.append(att)

print(ConterminousUS.shape)
#attributes to the file

(612388, 32)

In [43]:
ConterminousUS.columns

Index(['State_Code', 'Structure_Number', 'Year_Built', 'ADT', 'Skew',
       'Main_Design_Type', 'Number_Spans', 'Length_Max_Span', 'Deck_Length',
       'Deck_Width', 'Deck_Condition', 'Superstructure_Condition',
       'Substructure_Condition', 'Year_Reconstructed', 'Deck_Design_Type',
       'Wearing_Surface', 'Deck_Protection', 'ADTT', 'Latitude', 'Longitude',
       'Freq_Shake_GT4', 'Max_Shake', 'Days_MinLT_0F', 'Days_MinLT_32F',
       'Days_MaxGT_70F', 'Days_MaxGT_90F', 'Avg_Wind_Speed', 'Peak_Wind_Speed',
       'Precipitation', 'Temp_Max', 'Temp_Mean', 'Temp_Min'],
      dtype='object')

In [44]:
# to check if all the renamed columns are from Final column name

concat_col = ConterminousUS.columns

for cols in concat_col:
  if cols not in Final_Column_Name:
    print("Not existing", cols)

In [45]:
statistics = ConterminousUS.describe() #file

In [46]:
Null_exist = ConterminousUS.isnull()

In [47]:
if Null_exist.any == 'True':
  Null_exist = "Null exist"
  print("True")
else : 
  Null_exist = "Null does not exist"
  print("Null does not exist") #file

Null does not exist

In [48]:
with open(r'/content/drive/My Drive/Bridge_Project/Results/Result.txt', 'a') as writefile:
        writefile.write("\n")
        writefile.write(" Bridge Project Results ")
        writefile.write("\n")
        writefile.write(" state_name_dict_cols ")
        writefile.write("\n")
        writefile.write(str(state_name_dict_cols))
        writefile.write("\n")
        writefile.write(" data_frames_rows_list = ")
        writefile.write(str(data_frames_rows_list))
        writefile.write("\n")
        writefile.write("\n")
        writefile.write(" data_frames_cols_list ")
        writefile.write(str(data_frames_cols_list))
        writefile.write("\n")
        writefile.write("\n")
        writefile.write(" check_cols_same")
        writefile.write(check_cols_same)
        writefile.write("\n")
        writefile.write("\n")
        writefile.write(" check_tot_rows  ")
        writefile.write("\n")
        writefile.write("\n")
        writefile.write(check_tot_rows)
        writefile.write("\n")
        writefile.write("\n")
        writefile.write(" Initial_Col_Name_list = ")
        writefile.write("\n")
        writefile.write(str(Initial_Col_Name_list))
        writefile.write("\n")
        writefile.write(" Final_Column_Name = ")
        writefile.write("\n")
        writefile.write(str(Final_Column_Name))
        writefile.write("\n")
        writefile.write("\n")
        writefile.write(" rename_cols ")
        writefile.write(str(rename_cols))
        writefile.write("\n")
        writefile.write(" attribute_check")
        writefile.write(str(attribute_check))
        writefile.write("\n")
        writefile.write(" ConterminousUS_length = ")
        writefile.write("\n")
        writefile.write(str(ConterminousUS_length))
        writefile.write("\n")
        writefile.write(" statistics = ")
        writefile.write("\n")
        writefile.write(str(statistics))
        writefile.write("\n")
        writefile.write(" Null_exist = ")
        writefile.write("\n")
        writefile.write(Null_exist)
        writefile.write("\n")